{% extends "base.html" %}

{% block title %}{{ product.title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3 text-center">
            <img src="{{ product.picture.url }}" alt="" style="width: 100%; object-fit: contain; aspect-ratio: 1/1;">
        </div>
        <div class="col">
            <a href="{% url 'category' product.category.id %}" class="h6">{{ product.category }}</a>
            <h1>{{ product.title }}</h1>
            <a href="{% url 'brand' product.brand.id %}" class="h6 d-block">{{ product.brand }}</a>

            {% if user.is_authenticated %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#purchaseModal">
                Товар приобретен
            </button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reviewModal">
                Оценить товар
            </button>
            {% endif %}
            {% for review in reviews %}
            <div class="card mt-3">
                <div class="card-body">
                    <p class="card-text">{{ review.user.username }}</p>
                    <p class="card-text h5">{{ review.get_rating_display }} {{ review.liked|yesno:"👍🏼, 👎🏼, " }}</p>
                    <p class="card-text">{{ review.comment }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="modal fade" id="purchaseModal" tabindex="-1" aria-labelledby="purchaseModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="purchaseModalLabel">Информация о покупке</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    {% load crispy_forms_tags %}
                    <form method="POST" action="{% url 'purchase_new' product.id %}" id="purchase">
                        {% csrf_token %}
                        {{ purchase_form|crispy }}
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary" form="purchase">Сохранить</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="reviewModalLabel">Оценка товара</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    {% load crispy_forms_tags %}
                    <form method="POST" action="{% url 'review_new' product.id %}" id="review">
                        {% csrf_token %}
                        {{ review_form|crispy }}
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary" form="review">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
