<div class="col-3">
    <div class="card mb-3">
        <a href="{% url 'product_detail' product.id %}">
            <img src="{{ product.picture.url }}" class="card-img-top" alt="" style="object-fit: contain; aspect-ratio: 1/1;">
        </a>
        <div class="card-body">
            <a href="{% url 'brand' product.brand.id %}" class="card-text h6">{{ product.brand }}</a>
            <a href="{% url 'product_detail' product.id %}" class="card-title h5 d-block">{{ product.title }}</a>
            <a href="{% url 'category' product.category.id %}" class="card-subtitle h6 text-body-secondary">{{ product.category }}</a>
        </div>
    </div>
</div>
