{% extends "base.html" %}

{% block title %}{{profile.username}} - Оценки{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <p class="h1 text-center mb-4">{{profile.username}}</p>
        <ul class="nav nav-pills mb-4">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user_purchase' profile.username %}">Покупки</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'user_review' profile.username %}">Оценки</a>
          </li>
        </ul>
        {% for review in reviews %}
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-3">
        <div class="card h-100 border border-light-subtle">
          <div class="row g-0">
            <div class="col-md-4">
              <a href="{% url 'product_detail' review.product.id %}">
                        <img src="{{ review.product.picture.url }}" class="card-img img-fluid rounded-start p-2" alt=""
                             style="object-fit: contain; aspect-ratio: 1/1;"></a>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-subtitle mb-1"><a class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-25-hover text-body-secondary" href="{% url 'category' review.product.category.id %}">{{ review.product.category }}</a></p>
                <h5 class="card-title"><a class="link-offset-2 link-underline link-underline-opacity-0 link-underline-opacity-25-hover text-body" href="{% url 'brand' review.product.brand.id %}">{{ review.product.brand }}</a> {{ review.product.title }}</h5>
                <p class="card-text"><small>{{ review.get_rating_display }} {{ review.liked|yesno:"👍🏼, 👎🏼, " }}</small></p>
                <p class="card-text">{{ review.comment }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
        {% endfor %}
    </div>
</div>
{% endblock %}