{% extends "base.html" %}

{% block title %}Список продуктов{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-3">
            <div class="card">
                <a href="{% url 'product_detail' product.id %}">
                    <img src="{{ product.picture.url }}" class="card-img-top" alt="" style="object-fit: contain; aspect-ratio: 1/1;">
                </a>
                <div class="card-body">
                    <p class="card-text">{{ product.brand }}</p>
                    <a href="{% url 'product_detail' product.id %}" class="card-title h5 d-block">{{ product.title }}</a>
                    <h6 class="card-subtitle text-body-secondary">{{ product.category }}</h6>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}