{% extends "base.html" %}

{% block title %}Details{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3 text-center">
            <img src="{{ product.picture.url }}" alt="" style="width: 100%; object-fit: contain; aspect-ratio: 1/1;">
        </div>
        <div class="col">
            <p class="badge rounded-pill bg-primary">{{ product.category }}</p>
            <p class="h4">{{ product.brand }}</p>
            <h1>{{ product.title }}</h1>
        </div>
    </div>
</div>
{% endblock %}
