{% extends "base.html" %}

{% block title %}Details{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3 text-center">
            <img src="{{ product.picture.url }}" alt="" style="width: 100%; object-fit: contain; aspect-ratio: 1/1;">
        </div>
        <div class="col">
            <p class="badge rounded-pill bg-primary">{{ product.category }}</p>
            <p class="h4">{{ product.brand }}</p>
            <h1>{{ product.title }}</h1>

            {% if user.is_authenticated %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#purchaseModal">
                Товар приобретен
            </button>
            {% endif %}
        </div>
    </div>

    <div class="modal fade" id="purchaseModal" tabindex="-1" aria-labelledby="purchaseModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="purchaseModalLabel">Информация о покупке</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    {% load crispy_forms_tags %}
                    <form method="POST" action="{% url 'purchase_new' product.id %}" id="purchase">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </form>   
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary" form="purchase">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
