{% extends "base.html" %}

{% block title %}{{profile.username}} - Покупки{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <p class="h1 text-center mb-4">{{profile.username}}</p>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'user_purchase' profile.username %}">Покупки</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user_review' profile.username %}">Отзывы</a>
          </li>
        </ul>
        <table class="table">
            <tbody>
            {% for purchase in purchases %}
            <tr>
                <td>
                    <a href="{% url 'product_detail' purchase.product.id %}">
                        <img src="{{ purchase.product.picture.url }}" alt=""
                             style="width: 75px; object-fit: contain; aspect-ratio: 1/1;"></a></td>
                <td>
                    <a href="{% url 'product_detail' purchase.product.id %}" class="h6">
                        {{ purchase.product.title }}</a><br>{{ purchase.product.category }}
                </td>
                <td>{{ purchase.product.brand }}</td>
                <td>{{ purchase.date }}</td>
                <td>{{ purchase.price }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}