{% extends "base.html" %}

{% block title %}{{profile.username}} - Оценки{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <p class="h1 text-center mb-4">Оценки</p>
        {% for review in reviews %}
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <a href="{% url 'product_detail' review.product.id %}">
                        <img src="{{ review.product.picture.url }}" class="img-fluid rounded-start" alt=""
                             style="object-fit: contain; aspect-ratio: 1/1;"></a>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><a href="{% url 'product_detail' review.product.id %}" class="h5">{{ review.product.title }}</a> {{ review.liked|yesno:"👍🏼, 👎🏼, " }}</h5>
                  <p class="card-text h5">{{ review.get_rating_display }}</p>
                  <p class="card-text">{{ review.comment }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}